.img1 {
	z-index:-1;
	top: 0;
	left: 0;
	position: absolute;

}
img {
	z-index: 0;
	top: 0;
	left: 0;
}

.block{
	width: 100px;
	height: 100px;
	border: 2px solid black;
	background: orange;
	transition: width 2s height 2s;
	transition-duration: 2s;
	transition-timing-function: ease;
}

.block:hover {
	width: 200px;
	height: 200px;

}

li a: {
	color: black;
}

a:hover {
	color:blue;
}

a:active {
	color:red;
}

a:visited {
	color: yellow;
}

.block {
	width: ;
	height: ;
	animation-name: example;
}

@keyframes example {

	
}